body {
  background-image: url("../img/col.jpg");
  background-size: cover;
  background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
  font-family: 'Cinzel', serif;
  font-size: 20px;
}

.jumbotron {
  text-align: center;
  background-color: rgba(238, 238, 238, .6)
}

.container.contents {
  max-width: 300px;
  float: left;
  margin: 40px;
}

#result {
  margin: 30px;
}
